@{
    ViewData["Title"] = "Contact Me";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>


<body>
    <div>
        <div style="display: inline-block;">
            <img src="~/Images/Profile2.png"  alt="This is supposed to be an image" class="profileImg"></img>
        </div> 


        <div style="position:relative;=">
            <div class="headingFont1" style="padding-right: 0px; padding-top: 0px; right:0px;">
                Contact Me
            </div>
            <div class="bodyFont" style="padding-right: 0px; padding-top: 10px; left:345px;">
                Thank you for visiting my wall. If you liked how my wall looks, reach out to my 
                artistic friend who helped me a lot in designing this at 
                <a href="mailto:farima.keshavarz10@gmail.com">
                    farima.keshavarz10@gmail.com
                </a>
                <br> If you would like to know more about my work, please contact me 
                through the provided links. Looking forward to talk to you.
            </div>
        </div>
        @* <div style="position: relative; text-align: right; color: white;">
            <img src="~/Images/pngwing.com.png"  alt="background-image" class="announcement">
            <div class="headingFont" style="right: 130px;">Contact Me</div>
            <p class="bodyFont">
                Thank you for visiting my wall. If you would like to know more about my work, please contact me 
                through the provided links. Looking forward to talk to you.
            </p>
            </img>
        </div> *@
        <div style="position:relative; padding-top:10px; left:380px;">
            <a href="mailto:aghamiri.soroor@gmail.com"  style="position:relative;">
                <button class="btn-type4">Email</button>
            </a>

            <a href="https://www.linkedin.com/in/soroorsadat-seyedaghamiri/" style="position:relative; padding-left:10px;">
                <button class="btn-type4">LinkedIn</button>
            </a>

            <a href="https://github.com/SoroorAghamiri" style="position:relative; padding-left:10px;">
                <button class="btn-type4">Github</button>
            </a>
        </div>
    </div>
</body>

