@{
    ViewData["Title"] = "Contact Me";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>


<body>
    <div>
        <div style="display: inline-block;">
            <img src="~/Images/Profile2.png"  alt="This is supposed to be an image" class="profileImg"></img>
        </div> 


        <div style="position:relative;=">
            <div class="headingFont1" style="align-self: center;">
                Contact Me
            </div>
            <p class="bodyFont" style="padding-left: 20vw; align-self:center;">
                Thanks for stopping by to check out my wall! If you love what you see, don't miss the chance to 
                connect with my talented artistic friend, 
                who played a huge role in bringing this design to life. Shoot her an email at 
                <a href="mailto:farima.keshavarz10@gmail.com">farima.keshavarz10@gmail.com</a>.
                <br>
                <br>
                This website is an ongoing project, and I'm excited to keep adding new features and sections. Your feedback 
                and suggestions are incredibly valuable to me, so please let me know what you'd like to see or how I can improve.
                <br>
                <br>
                Curious to learn more about my work? Feel free to reach out through the links provided. Can't wait to chat with you!
            </p>
        </div>
        <div class="brick-btn-container">
            <a href="mailto:aghamiri.soroor@gmail.com" target="-blank" style="position:relative; padding: .2cm;">
                <button class="btn-type4">Email</button>
            </a>

            <a href="https://www.linkedin.com/in/soroorsadat-seyedaghamiri/" target="-blank" style="position:relative; padding: .2cm;">
                <button class="btn-type4">LinkedIn</button>
            </a>

            <a href="https://github.com/SoroorAghamiri" target="-blank" style="position:relative; padding: .2cm;">
                <button class="btn-type4">Github</button>
            </a>
        </div>
    </div>
</body>

