@{
    ViewData["Title"] = "My Crochets";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/crochet.css" asp-append-version="true" />
</head>

<body style="overflow-y: visible;"> 
        <div class="pageLabelContainer">
            <img src="~/Images/sign/red_sign.jpg" alt="Sign">
            <div class="pageLabel">My Crochet Projects</div>
        </div>
        <div class="card-horizontal">
            @* Add Cards here *@
            <div class="card">
                <img src="~/Images/Crochets/1.jpg" alt="Crochet" class="card-image"/>
                <div style="position: relative; padding-top:12%;">
                    <div class="card-text"><b>Nokhod Ali</b></div>
                    <p class="card-text">The frog</p> 
                </div>
            </div>

            <div class="card">
                <img src="~/Images/Crochets/2.jpg" alt="Crochet" class="card-image"/>
                <img src="~/Images/Crochets/sold-stamp.png" style="position: absolute; top: 100px; left: 10px;" alt="Crochet" class="card-image"/>
                <div style="position: relative; padding-top:12%;">
                    <div class="card-text"><b>Loubia-Pari</b></div> 
                    <p class="card-text">The flower girl. She is Nokhod Ali's cousine.</p> 
                </div>
            </div>

            <div class="card">
                <img src="~/Images/Crochets/3.jpg" alt="Crochet" class="card-image"/>
                <div style="position: relative; padding-top:12%;">
                    <div class="card-text"><b>Lucky-Nakazaki</b></div> 
                    <p class="card-text">This turtle was adopted from Tokyo. Hopefully, he doesn't belong to a mafia gang!</p> 
                </div>
            </div>

            <div class="card">
                <img src="~/Images/Crochets/4.jpg" style="position: relative;" alt="Crochet" class="card-image"/>
                <img src="~/Images/Crochets/sold-stamp.png" style="position: absolute; top: 100px; left: 10px;" alt="Crochet" class="card-image"/>
                <div style="position: relative; padding-top:12%;">
                    <div class="card-text"><b>Flower-Pot</b></div> 
                    <p class="card-text">This is a flower pot.</p> 
                </div>
            </div>
            <div class="card">
                <img src="~/Images/Crochets/5.jpg" alt="Crochet" class="card-image"/>
                <div style="position: relative; padding-top:12%;">
                    <div class="card-text"><b>Pigube</b></div> 
                    <p class="card-text">I always warned Pigube not to eat that Rubik's cube. She never listens.</p> 
                </div>
            </div>
        </div>
    @* </div> *@
</body>