@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div style="display: inline-block;">
        <img src="~/Images/Profile2.png"  alt="This is supposed to be an image" class="profileImg"></img>
    </div> 

    <div style="position: relative; text-align: center; color: white;">
        <img src="~/Images/pngwing.com.png"  alt="background-image" class="announcement">
        <div class="headingFont">Hi! This is me, Soroor</div>
        <p class="bodyFont">You are probably wondering how I ended up here! So this is how it all started. I've been looking for a job when in one of 
            those sudden out-of-the-blue thoughts I came up with the idea of creating a website, introducing myself and showing
            you that I am more than my resume and my interviews. So here it goes! Click on any of the buttons to learn more about
            me. Have fun! :)

            @* V2: You are probably wondering how I ended up here! So this is how it all started. I've been looking for a job when
            in a sudden moment of inspiration I came up with the idea of creating a website, introducing myself and showing
            you that I am more than my resume and my interviews. Click on any of the buttons to learn more about
            me.*@

        </p>
    </div>
    
    <div>
        <a href="/Home/Crochet" style="position:absolute; left:540px; top:430px;">
            <button class="btn-type4">Crochet</button>
        </a>

        <a href="/Home/Photography" style="position:absolute; left:540px; top:555px;">
            <button class="btn-type4">Photography</button>
        </a>

        <a href="/Home/SoftwarePrjs" style="position:absolute; left:540px; top:300px;">
            <button class="btn-type4">Software Projects</button>
        </a>
    </div>
</body>

