@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div style="overflow-y:auto;">
        <div style="display: inline-block;">
            <img src="~/Images/Profile2.png"  alt="This is supposed to be my image" class="profileImg"></img>
        </div> 

        <div style="display:inline-block; position:relative; overflow-x: hidden;">
            <div class="headingFont1" style="align-self: center;">
                Welcome to wall of
            </div>
            <div class="headingFont2" style="align-self: center;">
                Soroor
            </div>
            <p class="bodyFont" style="padding-left: 20vw; align-self:center;">
                You're probably wondering how I ended up here! Well, let me tell you how it all started. 
                I was in the midst of my job search when, in one of those sudden moments of epiphany, 
                I had an idea: why not create a website to introduce myself and showcase that I am more than 
                just my resume and interviews? So here it is! Click on any of the bricks to learn more about me. 
                Have fun on my wall! :)

                @* V2: You are probably wondering how I ended up here! So this is how it all started. I've been looking for a job when
                in a sudden moment of inspiration I came up with the idea of creating a website, introducing myself and showing
                you that I am more than my resume and my interviews. Click on any of the buttons to learn more about
                me.*@
            </p>
            <div class="brick-btn-container">
                <a href="/Home/Crochet" style="position:relative; padding: .2cm;">
                    <button class="btn-type4">Crochet</button>
                </a>

                <a href="/Home/Photography" style="position:relative; padding: .2cm;">
                    <button class="btn-type4">Photography</button>
                </a>

                <a href="/SoftwarePrjs" style="position:relative; padding: .2cm;">
                    <button class="btn-type4">Software Projects</button>
                </a>
            </div>
        </div>
        
        
    </div>
</body>

