@{
    ViewData["Title"] = "My Photos";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
<div class='sk-instagram-feed' style="position: absolute; max-width: 90%; max-height: 80%; overflow: scroll;" data-embed-id='25438947'></div>
<script src='https://widgets.sociablekit.com/instagram-feed/widget.js' async defer></script>
</body>