@model IEnumerable<MyWebApplication.Models.Project>
@{
    ViewData["Title"] = "My Software Projects";
    ViewBag.Title = "My Projects";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
</head>

<body>
    <div class="pageLabelContainer">
            <img src="~/Images/sign/red_sign.png" alt="Sign">
            <div class="pageLabel">My Software Projects</div>
    </div>
    <div class="projectContainer">
        <img src="~/Images/projects/vending_machine.png" alt="vending maching png">
        <div class="project-container">
            @if (ViewData["Projects"] != null)
            {
                var projects = ViewData["Projects"] as List<Project>;
                foreach (var prj in projects)
                {
                    <tr>
                        <a href='@prj.GetUrl()' style="padding-bottom:10%;">
                            <button class="projectBtn">@prj.GetName()</button>
                        </a>
                    </tr>
                }
            }
            else
            {
                <p>No projects available</p>
            }
        </div>
        <div class="sort-mode-container">
            <a href="/SoftwarePrjs/Sort?requestedMode=Date">
                            <button class="projectBtn">Sort Date</button>
            </a>
        </div>
        
    </div>
   


</body>

