@{
    ViewData["Title"] = "My Software Projects";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <p class="buttonText">Software projects</p>
    <div style="padding-top:46px; padding-left: 16px;">
        <a href="/Home/Photography" style="position:relative; left:540px;">
            <button class="projectBtn">Photography</button>
        </a>
    </div>
</body>