@model IEnumerable<MyWebApplication.Models.Project>
@{
    ViewData["Title"] = "My Software Projects";
    ViewBag.Title = "My Projects";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <p class="buttonText">Software projects</p>
    <div style="padding-top:46px; padding-left: 16px; overflow-y: scroll; max-height: 1000px; max-width: 1150px; background-size: cover;">
        @if (ViewData["Projects"] != null)
        {
            var projects = ViewData["Projects"] as List<Project>;
            foreach (var prj in projects)
            {
                <tr>
                    <a href='@prj.GetUrl()' style="position:relative; left:540px;">
                        <button class="projectBtn">@prj.GetName()</button>
                    </a>
                </tr>
            }
        }
        else
        {
            <p>No projects available</p>
        }
    </div>
</body>

