/* Crochet cards */
.card-horizontal { 
  position: relative;
  padding-top: 0%;
  padding-bottom: 5%;
  width: 100%; 
  display: grid; 
  grid-template-columns: repeat(auto-fill, 320px); 
  grid-template-rows: auto;
  justify-content: center; 
  overflow-y: scroll;
}

.card {
    background-image: url(../Images/pngwing.com.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    width: 70%;
    height: 100%;
  }

  .card-text{
    font-family: 'Bacasime Antique', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
  }
  
  .card-image{
    position: relative; 
    width: 70%; 
    max-height: 55%;
    left:30px; 
    top: 30px;
  }