html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.btn-type4{
  background-position: center;
  font-family: 'Bacasime Antique', sans-serif;
  font-size: large;
  color: rgb(88, 9, 9);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.861);
  border-color: rgba(255, 255, 255, 0.83);
  border-width: thick;
  width: 180px;
  height: 58px;
  text-align: center;
}
.btn-type4:hover, .btn-type4:focus{
  /* background-color:rgb(36, 2, 2); */
  border-color: rgba(255, 255, 255, 0.83);
  box-shadow: 0.5em 0.5em 2em rgb(88, 9, 9), 0.5em 0.5em 2em rgb(88, 9, 9);
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    min-height: 100vh; /*Make the body cover the entire viewport height */
    background-image: url(../Images/Back.jpeg); /* Set the background image */
    background-size: cover; /* Ensure the background covers the entire body */
    background-repeat: no-repeat;
    overflow-y: auto; /* Enable vertical scrolling */
     position: relative; /*Set position relative for stacking */

     background: linear-gradient(rgba(255, 255, 255, 0.861), rgba(255, 255, 255, 0.861)), url(../Images/Back.jpeg);
    background-blend-mode: overlay;
}

/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.861);  /*Apply the shadow to cover the entire body */
/*} */


.announcement{
  display: inline-block;
  /* size: contain; */
  padding-left: 420px; 
  /* padding-right: 0px; */
  max-width: 66%;
  max-height: 80%;
}

.profileImg {
  position:absolute;
  top:40%;
  left:0;
  /* right:0; */
  /* bottom:0; */
  margin:auto;
  float: left;
  max-width: 40%;
  height: fit-content;
  max-height: 60%;
}

.container {
  padding: 2px 0px;
  overflow-y: visible;
}

.headingFont1{
  position: relative;
  /* font-family: 'Draconian Typewriter', sans-serif; */
  font-size:30px;
  font-family: 'Sprite Graffiti', sans-serif;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 2px white;
}
.headingFont2{
  position: relative;
  /* font-family: 'Draconian Typewriter', sans-serif; */
  font-family: 'Sprite Graffiti', sans-serif;
  font-size: 150px;
  color: rgb(88, 9, 9);
  text-align: center;
  /* text-shadow: inset 0 0 0 100px rgb(88, 9, 9); */
}

.bodyFont{
  position: relative;
  font-family: 'Bacasime Antique', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  max-width: 50%;
  max-height: max-content;
}

.pageLabelContainer {
  position: relative; /* Position relative for absolute positioning of text */
  display: inline-block; /* To make container fit its content */
  max-width: 25%; /* Adjust max width as needed */
  max-height: 12.5%; /* Adjust max height as needed */
  padding: 0; /* Reset padding */
}

.pageLabelContainer img {
  display: block; /* Make image fill its container */
  width: 100%; /* Ensure image fills container width */
  height: 100%; /* Ensure image fills container height */
}

.pageLabel {
  position: absolute; /* Position text relative to parent container */
  top: 50%; /* Align text vertically in the middle */
  left: 50%; /* Align text horizontally in the middle */
  transform: translate(-50%, -50%); /* Center text precisely */
  font-family: 'Bacasime Antique', sans-serif; /* Apply font family */
  font-size: x-large; /* Apply font size */
  text-align: center; /* Align text center */
  color: rgb(255, 255, 255); /* Set text color */
}

